/*
https://www.w3schools.com/howto/howto_css_parallax.asp
*/

body,
html {
  height: 100%; /* this is a must for parallax. */
}

main {
  overflow: visible;
}

.parallax {
  position: relative;
  opacity: 1;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bgimg-1 {
  background-image: url('../img/berlin-wall-50727_fix.jpg');
  height: 60%;
}

#bgimg-2 {
  background-image: url('../img/memorial-1621728_1920.jpg');
  height: 60%;
}

#bgimg-3 {
  background-image: url('../img/castle-4499689_1920_fix.jpg');
  height: 60%;
}

.caption {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  text-align: center;
}

.caption span.border {
  background-color: #264a5a;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.9;
  padding: 18px;
  font-family: 'Prata', serif;
  font-size: 2.5em;
  line-height: 0;
}

.border {
  border: 0 !important;
}

.text {
  background-color: #264a5a;
  color: rgba(255, 255, 255, 0.7) !important;
  padding: 30px 50px;
  position: relative;
}

.text h3 {
  text-align: center;
}

.parallax-footer {
  padding: 0;
}

/* Turn off parallax scrolling for all tablets and phones. 
Increase/decrease the pixels if needed. Test what is the proper value 
for your larger screens and smaller screens. */

@media screen and (max-width: 1024px) {
  .parallax {
    background-attachment: scroll;
  }

}

@media screen and (max-width: 812px) {
  #bgimg-1,
  #bgimg-2,
  #bgimg-3 {
    height: 38%;
  }

  .parallax-footer {
    padding: 0;
  }
}

@media screen and (max-width: 736px) {
  .text {
    padding: 24px;
  }

  .caption span.border {
    font-size: 2em;
  }

  #bgimg-1,
  #bgimg-2,
  #bgimg-3 {
    height: 30%;
  }

  .parallax-footer {
    padding: 0;
  }
}

@media screen and (max-width: 667px) {
  .caption span.border {
    font-size: 1.75em;
  }

  #bgimg-1,
  #bgimg-2,
  #bgimg-3 {
    height: 26%;
  }

  .parallax-footer {
    padding: 0;
  }
}

@media screen and (max-width: 640px) {
  #bgimg-1,
  #bgimg-2,
  #bgimg-3 {
    height: 23%;
  }

  .parallax-footer {
    padding: 0;
  }
}

@media screen and (max-width: 568px) {
  #bgimg-1,
  #bgimg-2,
  #bgimg-3 {
    height: 19.5%;
  }

  .parallax-footer {
    padding: 0;
  }
}

@media screen and (max-width: 414px) {
  .caption span.border {
    font-size: 1.15em;
    padding: 12px;
  }

  #bgimg-1,
  #bgimg-2,
  #bgimg-3 {
    height: 12%;
  }

  .parallax-footer {
    padding: 0;
  }

  main {
    overflow: auto;
  }

}

@media screen and (max-width: 375px) {
  #bgimg-1,
  #bgimg-2,
  #bgimg-3 {
    height: 9.5%;
  }

  .parallax-footer {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .caption span.border {
    font-size: 1em;
  }

  #bgimg-1,
  #bgimg-2,
  #bgimg-3 {
    height: 7.5%;
  }

}
